.painting {
  border: solid 2px black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.painting.details {
  max-width: 100%;
}
