<h2> <%= @dog.name %>, <%= @dog.age %> years old </h2>

<p>This is a greatest dog in the world!</p>

<img src="https://loremflickr.com/320/240/dog" />

<br>

<a href=<%= "/dogs/#{@dog.id}/edit" %> >
  edit me
</a>

<br>

<a href="/dogs">go back</a>
