<h1>All humans</h1>

<a href="/humans/new">New human</a>

<hr>

<ul>
  <% @humans.each do |human| %>
    <li>
      <a href="/humans/<%= human.id %>"> <%= human.name%>  </a>
    </li>
  <% end %>
</ul>
